.Filter{
    display: flex;
    flex-direction: column;
    .caption{
        color: var(--color-2);
        text-transform: uppercase;
    }
    .title{
        color: var(--color-5);
    }
    .annotation{
        color: var(--color-2);
    }
    .filterWrapper{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .CheckboxesContainer{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }
    .textButton{
        width: 100%;
        color: var(--color-5);
        text-align: start;
        &.active{
            color: var(--color-7);
        }
    }
    .textButton + .textButton{
        margin-top: 24px;
    }
}
