.Serial{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-right: 40px;
    .ImgWrapper{
        min-width: 60px;
        height: 60px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        img{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .InfoWrapper{
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        .Number{
            color: var(--color-7);
            text-transform: uppercase;
        }
        .Name{
            color: var(--color-5);
        }
        .Date{
            color: var(--color-2);
        }
    }
}

