:root{
    // Colors

    --darkmod-1:#152A3A;
    --darkmod-2:#5B6975;
    --darkmod-3:#43D049;
    --darkmod-4:#0B1E2D;
    --darkmod-5:#ffffff;
    --darkmod-6:#EB5757;
    --darkmod-7:#22A2BD;
    --darkmod-8:#43D049;
    
    --lightmod-1:#ffffff;
    --lightmod-2:#828282;
    --lightmod-3:#27AE60;
    --lightmod-4:#E5E5E5;
    --lightmod-5:#0B1E2D;
    --lightmod-6:#EB5757;
    --lightmod-7:#22A2BD;
    --lightmod-8:#22A2BD;
}







