.BackgroundPhoto{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 251px;
    z-index: -1;
    img, .BackgroundShadow{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    img{
        z-index: -1;
        backdrop-filter: blur(8px);
    }
    .BackgroundShadow{
        background: linear-gradient(180deg, rgba(11, 30, 45, 0) 68.93%, rgba(0, 0, 0, 0.65) 100%), 
            linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(11, 30, 45, 0) 37.29%, rgba(11, 30, 45, 0) 68.93%);
        z-index: 1;
    }
}
.MainInfoContainer{
    margin-top: 225px;
    padding-top: 34px;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    background-color: var(--color-4);
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    .About{
        margin-top: 32px;
        color: var(--color-5);
    }
}